[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
numpy = "*"
pandas = "*"
rdflib = "*"
urllib3 = "*"
pylint = "*"
sqlfluff = "*"
sphinx = "*"
pytest = "*"
jupyter = "*"
matplotlib = "*"
networkx = "*"
simpy = "*"
flask = "*"


[dev-packages]

[requires]
python_version = "3.10"