h1 {
  font-family: Baskerville, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 3em;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 2em; }

h2 { font-family:Baskerville, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: 1.5em; }


h3 { font-family: Baskerville, "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.5em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: 0normal;
  word-spacing: normal;
  line-height: 1.0em; }


p { font-family: Baskerville, "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 1em;
    font-size: 1.2em;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5em;
    word-spacing: normal;
    text-indent: 2%;
    text-align: justify;
    text-justify: inter-word;}


blockquote { font-family: Baskerville, "Baskerville Old Face", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 1.5em;
    font-style: italic;
    font-variant: normal;
    font-weight: normal;
    line-height: 1.5em;
    color: darkslategrey;
    quotes: '“' '”';}

blockquote:before {content :open-quote; font-size: 2em; line-height: 0.5em;color: goldenrod;}
blockquote:after {content :close-quote; font-size: 2em; line-height: 0.5em;color: goldenrod;}

pre {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 1em;
  margin-top: 1em;
  overflow: auto;
  width: auto;
  padding-bottom: 2em;
  padding-top: 2em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  background-color: #eee;
  width: 95%;
  max-height: 30em;
}

ul {
  display: block;
  list-style-type:  none;
  padding-left: 2em;
  margin: 2em;
}

ol {
  display: block;
  list-style-type:  lower-roman;
  padding-left: 4em;
  margin: 2em;
}

li {
  font-family: Palatino, "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size: 1.0em;
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
  line-height: 3em;
}

ul > li:nth-of-type(5n+1) {
  background: transparent url('yellow_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}

ul > li:nth-of-type(5n+2) {
  background: transparent url('red_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}

ul > li:nth-of-type(5n+3) {
  background: transparent url('green_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}

ul > li:nth-of-type(5n+4) {
  background: transparent url('blue_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}

ul > li:nth-of-type(5n+5) {
  background: transparent url('orange_circ.svg') no-repeat left top;
  background-position: 0px 10px;
  background-size: 10px 10px;
  padding-left: 20px;
}

i {
  font-style: italic;
}

table.border {
  border: 1px solid black;
  border-collapse: collapse;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}

table {
  border: none;
  border-collapse: collapse;
  height: auto;
  margin-left:auto;
  margin-right:auto;
}


tr:nth-child(odd) {
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}

tr:hover {
  background-color: #ceefff;
}

th:hover {
  background-color: #89ffe9;
}

th  {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
  color:black;
  padding-right: 3px;
  padding-left: 3px;
}

td:hover {
  background-color: #89ebff;
}

td  {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  padding-right: 3px;
  padding-left: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
}

._100pc {
  width: 100%;
  margin: 0 auto;
}

._90pc {
  width: 90%;
  margin: 0 auto;
}

._no_border {
  border: 0px none black;
}

._bg_white {
  background-color:#fff;
}

svg { max-height: 600px;}
div.mid { width: 60%; margin: auto; }
