{% extends "html_base.jinja2" %}
{% block meta %}{% include "meta.jinja2"%}{% endblock %}


{% block style %}
<link rel="stylesheet" type="text/css" href="static/reset.css">
<link rel="stylesheet" type="text/css" href="static/tkl_style.css">
{%endblock%}
{% block script %}
<!--LINK JQUERY-->
<script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="static/scripts/mzoom.js"></script>
<script type="text/javascript" src="static/scripts/touchScriptController.js"></script>
{%endblock%}
{%block body%} 
{% include "nav_template.jinja2"%} 
{% include "content_template.jinja2"%} 
{%endblock body%}

